.hero {
    position: relative;
    background-image: url("../../assets/images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.hero-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
}

.hero-pr {
    font-size: 1.2rem;
}



.hero-title {
    color: #fff;
    font-size: 6rem;
    font-weight: 800;
}

.hero-text {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;
    font-weight: 700;
}

.hero-btn {
    font-weight: 800;
    background-color: #dd6f02;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #fff;
    transition: 0.3s ease;
}

.signin-btn {
    margin-left: auto;
    font-weight: 800;
    background-color: #dd6f02;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
}

.hero-btn:hover, .signin-btn:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 60px;
    }
}