* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets/images/background.jpg');
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

p {
    color: #fff;
}



