.nav-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.benefits-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.products-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.subfooter-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    align-items: st;
    justify-content: center;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 2rem;
    justify-content: center;
}




