.navbar {
    background-color: #191d25;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav-right {
    display: flex;
    gap: 2rem;
}


.navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-logo img {
    height: 50px;
    width: 50px;
}

.navbar-logo p {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.5rem;
}


.navbar-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar-menu a:hover {
    color: #dd6f02;
}

.LocationCart button{
    height: 70px;
    width: 70px;
    color: #ffffff;
    gap: 3rem;
    border: 5px solid #191d25;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s ease;
    background: #2c3139;
}

.LocationCart button:hover {
    color: #dd6f02;
}


.hamburger-menu {
    display: none;
}

@media (max-width: 768px) and (max-width: 1024px) {
    
    .navbar-logo img {
        height: 35px;
        width: 35px;
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        text-align: left;
        position: absolute;
        padding: 40px;
        gap: 20px;
        z-index: 1000;
        left: 0;
        right: 0;
        box-sizing: border-box;
        min-height: 100vh;
        top: 100%;
        background-color: #191d25;
    }

    .LocationCart {
        display: flex;
        gap: 1rem;
    }
}