.benefits {
    background-color: #24282f;
    min-height: 200px;
}

.benefits-left {
    flex: 1;
}

.benefits-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.benefits-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.benefits-content {
    display: flex;
    gap: 50px;
}

.benefits-orange-img {
    height: 100px;
    width: 100px;
    margin-top: 3rem;
    border-radius: 5px;
}

.benefits-left p {
    font-size: 1.3rem;
    max-width: 400px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.benefits-btn {
    font-weight: 800;
    background-color: #dd6f02;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    transition: 0.3s ease;
}

.benefits-btn:hover {
    color: #000000;
}

.benefits-image {
   aspect-ratio: 1/1;
   object-fit: cover;
   max-width: 420px;
   display: block;
   margin-top: 50px;
   margin-bottom: 40px;
   border-radius: 5px;
}

@media (max-width: 768px) {
    .benefits-container, .benefits-right {
        display: flex;
        flex-direction: column;
    }

    .benefits-right {
        align-content: center;
        align-items: center;
    }

    .benefits-right img {
        height: 100%;
        width: 100%;
    }
}